:root {
  --secondary-color: blue;
  --progress-bar-radius: 14px;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.editPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: chartreuse;
  position: absolute;
  top: 80px;
  right: 40px;

}
.nodeEditBar {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.editWindow {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  background-color: coral;
}

.editWindowButton {
  right: 10px;
  align-self: flex-end;
  width: 20%;
}

.progressBar {
  height: 24px;
  align-self: center;
}

.progressBar.background{
  width: 100%;
  background-color: gray;
  border-radius: var(--progress-bar-radius);
}

.progressBar.foreground{
  background-color: green;
  border-radius: var(--progress-bar-radius);
}

.progressBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

/* custom reactflow css */
.react-flow {
  background: #1e2124;
}


.goalNode {
  border-style: solid;
  border-color: aquamarine;
  background-color: white;
}

.goalNode.selected {
  border-color: blue;
}