:root {
  --secondary-color: blue;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.nodeEditBar {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.editWindow {
  position: absolute;
  top: 20px;
}

/* custom reactflow css */
.react-flow {
  background: #1e2124;
}

.react-flow__node {
  border-style: solid;
  border-width: 0.5;
  background-color: blueviolet;
}

.selectedNode {
  border-color: aliceblue;
  box-shadow: 0 0 0 0.5px white;
}